@model WebsiteBanHang.Models.Category

<h2>📖 Chi tiết danh mục</h2>

<div class="card shadow p-4">

<p><b>ID:</b> @Model.Id</p>

<p><b>Tên danh mục:</b> @Model.Name</p>

<a asp-action="Index" class="btn btn-primary">
    Quay lại
</a>

</div>